@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display-swap');

.map {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
    
}
.all-path:hover {
    fill: blue;
}

.clicked {
    fill: blue;
}

.map .container p{
    text-align: center;
    font-size: 30px;
}

.map .container .map-box{
    width: 100%;
    display: flex;
    flex-flow: row;
}

.map .container .map-box .guide-box{
    width: 40%;
    position: relative; 
}
.map .container .map-box .guide-box .map-tabs{
    width: 100%;
    cursor: pointer;
}
.map .container .map-box .guide-box .map-tabs .svg{
    margin-top: 100px;
}

.map .container .map-box .guide-box .guide-content {
    width: 30%;
    cursor: pointer;
}
@media (max-width:1100px){
    .map .container .map-box .guide-box .guide-content {
        width: 40%;
    }
}

.map .container .map-box .guide-box .guide-content-none{
    display: none;
}

.map .container .map-box .guide-box #Kaohsiung{
    position: absolute;
    top: 40%;
    left: 40%;
}
.map .container .map-box .guide-box #Pingtung{
    position: absolute;
    top: 60%;
    left: 40%;
}
.map .container .map-box .guide-box #Tainan{
    position: absolute;
    top: 45%;
    left: 30%;
}
.map .container .map-box .guide-box #Yilan{
    position: absolute;
    top: 0%;
    left: 80%;
}
.map .container .map-box .guide-box #Keelung{
    position: absolute;
    top: -6%;
    left: 80%;
}
.map .container .map-box .guide-box #Miaoli{
    position: absolute;
    top: 5%;
    left: 45%;
}
.map .container .map-box .guide-box #Taipei{
    position: absolute;
    top: -8%;
    left: 60%;
}
.map .container .map-box .guide-box #NewTaipei{
    position: absolute;
    top: -2%;
    left: 60%;
}
.map .container .map-box .guide-box #Chiayi{
    position: absolute;
    top: 30%;
    left: 25%;
}
.map .container .map-box .guide-box #Hualien{
    position: absolute;
    top: 15%;
    left: 70%;
}
.map .container .map-box .guide-box #Nantou{
    position: absolute;
    top: 15%;
    left: 70%;
}
.map .container .map-box .guide-box #Taichung{
    position: absolute;
    top: 10%;
    left: 35%;
}
.map .container .map-box .guide-box #Taitung{
    position: absolute;
    top: 50%;
    left: 50%;
}

.map .container .map-box .guide-box .guide-content p{
    color: rgb(255, 183, 0);
    font-size: 50px;

}


/* contents區塊 */
.map .container .map-box .contents {
    width: 60%;
    margin-left: 10px;    
}
@media (max-width:768px){
    .map .container .map-box {
        flex-flow: column;
    }
    .map .container .map-box .guide-box{
        width: 100%;
        
    }
    .map .container .map-box .contents {
        width: 100%;
            
    }
}


.map .container .map-box .content-none {
    display: none;
}

.map .container .map-box .contents .content {
    width: 100%;
}

.map .container .map-box .contents .content .card{
    color: white;
    background-color: #809A97;
    
}

.map .container .map-box .contents .content .card p {
    font-size: 18px;
    letter-spacing: 5px;
}




