
.article {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.article form{
    padding: 5%;
    width: 80%;
    background-color: #f3f3ef;
    border-radius: 5%;
}
.article form .article-title{
    text-align: center;
    font-size: 30px;
}
.article form .row{
    flex-flow: column;
    margin: 5px;

}
.article form .row.btn{
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.article form .row.btn a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article form .row.btn button{
    margin: 5px;
    padding: 5px;
}

.article form .function-area{
    display: flex;
    justify-content: flex-end;
}

.article form .create-msg{
    text-decoration: none;
    color: #000;
}

